.skin-yellow .main-header .navbar {
    background-color: #222d32 !important;
}

.skin-yellow .main-header .logo {
    background-color: #1a2226 !important;
    color: #ffdb17 !important;
    border-bottom: 0 solid transparent;
}

.text-gold-color {
    color: #ffdb17 !important;
}

/*Loader*/
.spinner {
    width: 70px;
    text-align: center;
}

.spinner > div {
    width: 18px;
    height: 18px;
    background-color: #fff;

    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0)
    }
    40% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}

.nav > li {
    position: relative;
    display: block;
    padding: 5px 5px;
}

.badge {
    font-size: 13px !important;
    font-weight: 500 !important;
    border-radius: 2px;
    box-shadow: -1px -1px 2px #0000002e
}

.widget-user-2 .widget-user-header {
    padding: 2px;
}

.widget-user-header {
    background-color: #222d32;
    color: #fff;
}

.box-widget {
    border: none;
    position: relative;
    box-shadow: 5px 7px 2px #00000014;
}

.content {
    min-height: 250px;
    padding: 0px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0px;
    padding-right: 0px;
}

#loader {
    left: 45.5%;
    top: 21px;
    position: absolute;
}

.nav-tabs-custom > ul > li {
    padding: 1px 0px;
}

.clear-fix {
    clear: both !important;
}

.pagination {
    margin: 7px 16px;
    border-radius: 2px !important;
}

.text-red {
    color: red !important;
}

#plan {
    cursor: pointer;
}

.input_power_miner {
    width: 44px;
    border: 0px;
    border-bottom: 1px solid;
}

input#datepicker {
    border: 0px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.4em;
    width: 114px;
}

.td_desc {
    font-size: 1.1em;
}

.text-green, .text-red, .text-blue, .text-navy {
    font-weight: bold;
}

.input_name {
    margin: -4px 8px;
    font-size: 1.2em;
    width: 261px;
    text-align: center;
    border: 0px
}

.totMinerado {
    top: 6px;
    position: relative;
    font-weight: bold;
    color: #0073b7;
    font-size: 0.85em;
}

.totPago {
    top: 2px;
    position: relative;
    font-weight: bold;
    color: #00a65a;
    font-size: 0.85em;
    left: 10px;
}

button[disabled], html input[disabled] {
    cursor: default;
    background: #fff !important;
}

.cssload-tetrominos {
    position: absolute;
    transform: translate(-20px, -17px);
    -o-transform: translate(-20px, -17px);
    -ms-transform: translate(-20px, -17px);
    -webkit-transform: translate(-20px, -17px);
    -moz-transform: translate(-20px, -17px);
    position: relative;
    top: 17px;
    right: 27px;
    opacity: 0.1;
}

.cssload-tetromino {
    width: 17px;
    height: 20px;
    position: absolute;
    transition: all ease 0.105s;
    -o-transition: all ease 0.105s;
    -ms-transition: all ease 0.105s;
    -webkit-transition: all ease 0.105s;
    -moz-transition: all ease 0.105s;
    background: url('data:image/svg+xml;utf-8,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 612 684"%3E%3Cpath fill="%23010101" d="M305.7 0L0 170.9v342.3L305.7 684 612 513.2V170.9L305.7 0z"/%3E%3Cpath fill="%23fff" d="M305.7 80.1l-233.6 131 233.6 131 234.2-131-234.2-131"/%3E%3C/svg%3E') no-repeat top center;
}

.cssload-box1 {
    animation: cssload-tetromino1 0.525s ease-out infinite;
    -o-animation: cssload-tetromino1 0.525s ease-out infinite;
    -ms-animation: cssload-tetromino1 0.525s ease-out infinite;
    -webkit-animation: cssload-tetromino1 0.525s ease-out infinite;
    -moz-animation: cssload-tetromino1 0.525s ease-out infinite;
}

.cssload-box2 {
    animation: cssload-tetromino2 0.525s ease-out infinite;
    -o-animation: cssload-tetromino2 0.525s ease-out infinite;
    -ms-animation: cssload-tetromino2 0.525s ease-out infinite;
    -webkit-animation: cssload-tetromino2 0.525s ease-out infinite;
    -moz-animation: cssload-tetromino2 0.525s ease-out infinite;
}

.cssload-box3 {
    animation: cssload-tetromino3 0.525s ease-out infinite;
    -o-animation: cssload-tetromino3 0.525s ease-out infinite;
    -ms-animation: cssload-tetromino3 0.525s ease-out infinite;
    -webkit-animation: cssload-tetromino3 0.525s ease-out infinite;
    -moz-animation: cssload-tetromino3 0.525s ease-out infinite;
    z-index: 2;
}

.cssload-box4 {
    animation: cssload-tetromino4 0.525s ease-out infinite;
    -o-animation: cssload-tetromino4 0.525s ease-out infinite;
    -ms-animation: cssload-tetromino4 0.525s ease-out infinite;
    -webkit-animation: cssload-tetromino4 0.525s ease-out infinite;
    -moz-animation: cssload-tetromino4 0.525s ease-out infinite;
}

@keyframes cssload-tetromino1 {
    0%, 40% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(8px, -5px);
    }
    60%, 100% {
        transform: translate(17px, 0);
    }
}

@-o-keyframes cssload-tetromino1 {
    0%, 40% {
        -o-transform: translate(0, 0);
    }
    50% {
        -o-transform: translate(8px, -5px);
    }
    60%, 100% {
        -o-transform: translate(17px, 0);
    }
}

@-ms-keyframes cssload-tetromino1 {
    0%, 40% {
        -ms-transform: translate(0, 0);
    }
    50% {
        -ms-transform: translate(8px, -5px);
    }
    60%, 100% {
        -ms-transform: translate(17px, 0);
    }
}

@-webkit-keyframes cssload-tetromino1 {
    0%, 40% {
        -webkit-transform: translate(0, 0);
    }
    50% {
        -webkit-transform: translate(8px, -5px);
    }
    60%, 100% {
        -webkit-transform: translate(17px, 0);
    }
}

@-moz-keyframes cssload-tetromino1 {
    0%, 40% {
        -moz-transform: translate(0, 0);
    }
    50% {
        -moz-transform: translate(8px, -5px);
    }
    60%, 100% {
        -moz-transform: translate(17px, 0);
    }
}

@keyframes cssload-tetromino2 {
    0%, 20% {
        transform: translate(17px, 0px);
    }
    40%, 100% {
        transform: translate(25px, 5px);
    }
}

@-o-keyframes cssload-tetromino2 {
    0%, 20% {
        -o-transform: translate(17px, 0px);
    }
    40%, 100% {
        -o-transform: translate(25px, 5px);
    }
}

@-ms-keyframes cssload-tetromino2 {
    0%, 20% {
        -ms-transform: translate(17px, 0px);
    }
    40%, 100% {
        -ms-transform: translate(25px, 5px);
    }
}

@-webkit-keyframes cssload-tetromino2 {
    0%, 20% {
        -webkit-transform: translate(17px, 0px);
    }
    40%, 100% {
        -webkit-transform: translate(25px, 5px);
    }
}

@-moz-keyframes cssload-tetromino2 {
    0%, 20% {
        -moz-transform: translate(17px, 0px);
    }
    40%, 100% {
        -moz-transform: translate(25px, 5px);
    }
}

@keyframes cssload-tetromino3 {
    0% {
        transform: translate(25px, 5px);
    }
    20%, 60% {
        transform: translate(17px, 9px);
    }
    90%, 100% {
        transform: translate(8px, 5px);
    }
}

@-o-keyframes cssload-tetromino3 {
    0% {
        -o-transform: translate(25px, 5px);
    }
    20%, 60% {
        -o-transform: translate(17px, 9px);
    }
    90%, 100% {
        -o-transform: translate(8px, 5px);
    }
}

@-ms-keyframes cssload-tetromino3 {
    0% {
        -ms-transform: translate(25px, 5px);
    }
    20%, 60% {
        -ms-transform: translate(17px, 9px);
    }
    90%, 100% {
        -ms-transform: translate(8px, 5px);
    }
}

@-webkit-keyframes cssload-tetromino3 {
    0% {
        -webkit-transform: translate(25px, 5px);
    }
    20%, 60% {
        -webkit-transform: translate(17px, 9px);
    }
    90%, 100% {
        -webkit-transform: translate(8px, 5px);
    }
}

@-moz-keyframes cssload-tetromino3 {
    0% {
        -moz-transform: translate(25px, 5px);
    }
    20%, 60% {
        -moz-transform: translate(17px, 9px);
    }
    90%, 100% {
        -moz-transform: translate(8px, 5px);
    }
}

@keyframes cssload-tetromino4 {
    0%, 60% {
        transform: translate(8px, 5px);
    }
    90%, 100% {
        transform: translate(0, 0);
    }
}

@-o-keyframes cssload-tetromino4 {
    0%, 60% {
        -o-transform: translate(8px, 5px);
    }
    90%, 100% {
        -o-transform: translate(0, 0);
    }
}

@-ms-keyframes cssload-tetromino4 {
    0%, 60% {
        -ms-transform: translate(8px, 5px);
    }
    90%, 100% {
        -ms-transform: translate(0, 0);
    }
}

@-webkit-keyframes cssload-tetromino4 {
    0%, 60% {
        -webkit-transform: translate(8px, 5px);
    }
    90%, 100% {
        -webkit-transform: translate(0, 0);
    }
}

@-moz-keyframes cssload-tetromino4 {
    0%, 60% {
        -moz-transform: translate(8px, 5px);
    }
    90%, 100% {
        -moz-transform: translate(0, 0);
    }
}

[name~=movimentacoes_length] {
    padding: 0px 5px;
    border: 0px solid #000 !important;
}

.logo-lg {
    font-family: black-ops-one, sans-serif;
}

.table_users tr td input {
    border: 0px;
}

.login-page, .register-page {
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);

}

.login-box-body {
    box-shadow: 0px 0px 7px rgba(128, 128, 128, 0.5)
}

ul > li.header:nth-child(5), ul > li.header:nth-child(4) {
    text-align: center;
    color: #fff !important;
    font-size: 1em !important;
}

.table_ganhos {
    font-size: 1.2em;
}

.table_ganhos td, th {
    text-align: center
}